.confirm-modal-overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 99;
	.confirm-modal{
		background: #fff;
		position: fixed;
		top: 50%;
		left: 50%;
	    @include translate(-50%, -50%);
	    padding: 35px;
	    text-transform: uppercase;
	    width: 280px;
	    z-index: 100;
	    @include box-sizing(border-box);

	    p {
			font-size: 20px;
			font-weight: 200;
			text-align: center;
		}

		.caption {
			display: block;
			margin: 0 auto;
			width: 150px;
		}
	}
}