.sharing-cycling {
	padding: 25px 28px;
	text-align: center;

	h3 {
		font-size: 21px;
		margin-bottom: 18px;
	}

	p {
		font-size: 12px;
		margin-bottom: 0;
	}

	a {
		display: block;
		margin-top: 20px;
	}

	.caption {
		margin-top: 20px;
		a {
			margin-top: 0;
		}
	}
}