.rank-container {
    .leaderboard-results {
        h3 {
            font-size: 36px;

            small {
                font-size: 16px;
            }
        }

        .gender-filter {
            > a {
                font-size: 12px;
            }
        }

        .leaderboard-container {
            min-height: 400px;    
            margin: 32px auto 32px;
            padding-top: 0px;

            .list-titles {
                padding: 9px 60px 9px 0;
                span {
                    font-size: 14px;

                    &.position {
                        height: 13px;
                    }

                    &.total {
                        padding-top: 2px;
                    }
                }
            }

            .leaderboard-list {
                padding: 11px 60px 11px 0;

                li {
                    font-size: 15px;
                }

                .position {
                    font-size: 22px;
                }

                .profile-picture {
                    width: 68px;
                    height: 68px;
                }

                .profile-name {
                    font-size: 26px;
                    margin-left: 8px;
                }

                .profile-distance, .profile-energy {
                    font-size: 22px;
                    padding-top: 22px;
                }
            }
        }
    }
}