<div class="page {{classes}}" data-region="{{urlName}}">
    <section class="region-selector" data-component="region-selector"></section>
    
    <div style="font-family: 'Graphik Web', sans-serif; letter-spacing: 2px; font-size: 17px; color: #ffffff; text-align: center; background-color: #f06725;"><strong><br>
    YOU JOIN. WE DONATE.<br>
    </strong>
    <div style="font-size: 6px; font-family: 'Graphik Web', sans-serif; color: #ffffff; letter-spacing: 2px; text-align: center; background-color: #f06725;"><strong>
    </strong><br>
    </div>
    <div style="font-size: 12px; font-family: 'Graphik Web', sans-serif; color: #ffffff; letter-spacing: 2px; text-align: center; background-color: #f06725;"><strong>Take $200 off when you join Equinox in February, and we'll donate the rest of your initiation to fund rare cancer research through Cycle for Survival.<br>
    </strong>
    <div style="font-size: 6px; font-family: 'Graphik Web', sans-serif; color: #ffffff; letter-spacing: 2px; text-align: center; background-color: #f06725;"><br>
    </div>
    </div>
    <div style="font-family: 'Graphik Web', sans-serif; font-size: 14px; color: #ffffff; letter-spacing: 2px; text-align: center; background-color: #f06725;"><strong>OFFER ENDS FEBRUARY 28. <a href="https://www.equinox.com/join/step1?icmp=regions-banner-Feb9Cycle-joinnow" target="_blank"><span style="text-decoration: underline; color: #ffffff;">JOIN NOW</span></a></strong><br>
    <br>
    <br>
    </div>
    </div>

    <section class="club-finder-map">
        <div class="map-wrapper" style="display:none;">
            <div class="map-container" data-component="clubs-map"></div>
        </div>
        <div class="buttons" style="display: block">    
            <a href="#" id="loadMap" class="black box button small inline toggleMapContainer">Open Map</a>
        </div>
        <div class="buttons" style="display: none">
            <a href="#" class="black box button small inline toggleMapContainer">Close Map</a>
        </div>
    </section>
        
    <section data-component="club-list" class="club-list"></section>
</div>