<h1>Form buttons</h1>

<p>As <a href="1.1.html">General Buttons</a> you can use the classes with anchors or <code>&lt;input&gt;</code> or even <code>&lt;button&gt;</code> tags..</p>

<% styleguide_block '1.0.3' do %>
    <input type="submit" class="button $modifier_class" value="Example Button" />
    <br />
    <button class="button $modifier_class">Example Button</button>
<% end %>