<h1>Buttons</h1>

<% styleguide_block '1.0.1' do %>
    <nav class="buttons">
        <a href="#" class="button black $modifier_class">Example Button</a>
    </nav>
<% end %>

<% styleguide_block '1.0.2' do %>
    <nav class="button-container $modifier_class">
        <a href="#" class="button box">Example Button</a>
    </nav>
<% end %>

<% styleguide_block '1.0.3' do %>
    <a href="#" class="button $modifier_class">Example Button</a>
<% end %>