<% styleguide_block '2.2.1' do %>
<div class="checkbox $modifier_class" data-component="checkbox">
    <label>
        <input type="checkbox" name="rememberme" />
        <span class="icon-check checkbox-replacement"></span>
        <!-- you should move the next element outside if it will contain anchor links -->
        <span class="label">Keep me signed in</span>
    </label>
</div>
<% end %>

<% styleguide_block '2.2.2' do %>
<div class="radio $modifier_class" data-component="radio">
    <label>
        <input type="radio" name="primarygoal" value="@Callout.Content.Title" />
        <span class="radio-replacement"></span>
        <span class="label">@Callout.Content.Title</span>
    </label>
</div>
<% end %>