<h1>Text styling</h1>

<% styleguide_block '3.0.1' do %>
    <strong>Sample text</strong>
<% end %>

<% styleguide_block '3.0.2' do %>
    <p>Sample text</p>
<% end %>

<% styleguide_block '3.0.3' do %>
    <a href="#">Sample text</a>
<% end %>

<% styleguide_block '3.0.4' do %>
    <div class="title">Sample text</div>
<% end %>

<% styleguide_block '3.0.5' do %>
    <h1>Sample text</h1>
<% end %>

<% styleguide_block '3.0.6' do %>
    <h2>Sample text</h2>
<% end %>

<% styleguide_block '3.0.7' do %>
    <h3>Sample text</h3>
<% end %>

<% styleguide_block '3.0.8' do %>
    <h4>Sample text</h4>
<% end %>

<% styleguide_block '3.0.9' do %>
    <h5>Sample text</h5>
<% end %>

<% styleguide_block '3.0.10' do %>
    <h6>Sample text</h6>
<% end %>

<% styleguide_block '3.0.11' do %>
    <section class="paragraph rich-content @Model.Settings.Styles" data-hash="@Model.Identifiers.ScrollToId">
            <h1 class="title">Example Title</h1>
            <h6>Example SubTitle</h6>
            <p>Example Paragraph - We believe in the power of open spaces. They promote free-form training and multi-joint movement that mirrors our three-dimensional, real-life bodies.</p>
    </section>
<% end %>

<% styleguide_block '3.0.12' do %>
    <div class="subtitle-module">
        <h2>Sample SubTitle</h2>
        <a href="#">Sample CTA</a>
    </div>
<% end %>

<% styleguide_block '3.0.13' do %>
    <div class="paragraph-block">
        <h2>Join now and earn your initiation fee back if you workout 12 time in 30 days.</h2>
    </div>
<% end %>

<% styleguide_block '3.0.14' do %>
    <div class="is-error $modifier_class">
        <p>Error message goes here. Wrapped in a box</p>
    </div>
<% end %>