<h1>Icons</h1>

<p class="overview-page">These get generated through <a href="http://icomoon.io/app/#/select" target="_blank">IcoMoon</a> application, importing the configuration JSON file located at <code>/assets/fonts/MINDORO.json</code>. As new icons get added the JSON file needs to be exported again, including those new icons.</p>

<% styleguide_block '4.1' do %>
    <span class="$modifier_class"></span>
<% end %>