<h1>Other resources</h1>

<p>Including other global elements and instructions.</p>

<% styleguide_block '4.0.1' do %>
    <img src="http://placehold.it/1280x400" alt="Sample image" />
<% end %>

<% styleguide_block '4.0.2' do %>
    <hr class="separator-line" />
<% end %>

<% styleguide_block '4.0.3' do %>
    <div class="module">
        <p>Sample module container</p>
    </div>
<% end %>

<% styleguide_block '4.0.4' do %>
    <div class="is-mobile">Visible on <strong>small</strong> viewport size.</div>
    <div class="is-tablet">Visible on <strong>medium</strong> viewport size.</div>
    <div class="is-desktop">Visible on <strong>large</strong> viewport size.</div>
    <div class="hidden">Always hidden.</div>
<% end %>