<% styleguide_block '5.0' do %>
<div class="rich-content $modifier_class">
	<header>
		<h2 class="rich-content-title"><span>Rich Content Title</span></h2>
	</header>
</div>
<% end %>

<% styleguide_block '5.0.1' do %>
<div class="rich-content black">
	<header>
		<h2 class="rich-content-title">
			<span><small>Rich content upper example text</small>Rich Content Title</span>
		</h2>		
	</header>
</div>
<% end %>

<% styleguide_block '5.0.1' do %>
<div class="rich-content black">
	<header>
		<h2 class="rich-content-title">
			<span>Rich Content Title<small>Rich content lower example text</small></span>
		</h2>		
	</header>
</div>
<% end %>

<% styleguide_block '5.0.2' do %>
<div class="rich-content $modifier_class">
	<header>
		<img class="is-mobile" src="../images/login_background_mobile.jpg" />
		<img class="is-tablet is-desktop" src="../images/login_background_mobile.jpg" />
		<h2 class="rich-content-title">
			<span>Rich Content Title<small>Rich content lower example text</small></span>
		</h2>		
	</header>
</div>
<% end %>