<img class="is-mobile" src="/assets/images/purchase/bg-no-equifit-mobile.jpg" alt="Equifit">
<img class="is-tablet" src="/assets/images/purchase/bg-no-equifit-tablet.jpg" alt="Equifit">
<img class="is-desktop" src="/assets/images/purchase/bg-no-equifit-desktop.jpg" alt="Equifit">

<a href="#" data-bypass="true" class="icon-close"></a>
<h5>It looks as though you're new to training.</h5>

<p>
    Now's a good time to schedule your complimentary Equifit assessment and training session.
</p>

<a href="/personal-training/schedule-equifit" class="button box white small" data-bypass="true">SCHEDULE EQUIFIT</a>
