<form class="large white">
    <fieldset>
        <div>
            <span class="dropdown block white">
                <span class="option">Tier</span>
                <select id="select-tier" class="select-tier" name="tier">
                    <option value=""></option>
                </select>
            </span>
        </div>
        <div>
            <span class="dropdown block white">
                <span class="option">Duration</span>
                <select id="select-duration" class="select-duration" name="duration">
                    <option value=""></option>
                </select>
            </span>
        </div>
        <div>
            <span class="dropdown block white">
                <span class="option">Package</span>
                <select id="select-package" class="select-package" name="package">
                    <option value=""></option>
                </select>
            </span>
        </div>
    </fieldset>
</form>