<header>
    <h2 class="rich-content-title">
    <span>
        <small>Step 1 of 3</small>
        <span>Select a pack</span>
   </span>
    </h2>
</header>

<section id="equifit"></section>


<section style="display: none" id="message"></section>

<section id="inventory" class="panel"></section>

<section id="select-package-form" class="paragraph">
    <form class="large white">
        <fieldset>
            <div id="tierOption" class="third"></div>
            <div id="durationOption" class="third"></div>
            <div id="packageOption" class="third"></div>
        </fieldset>
    </form>
</section>

<section class="paragraph">
    <h5>CHOOSE YOUR PACKAGE BASED ON YOUR TRAINERS TIER. OR REVIEW THE TIER DESCRIPTIONS ON THE TRAINING HOME PAGE</h5>
    <p id="package-form"></p>
</section>

<section class="paragraph">
    <fieldset class="button-container centered">
        <button type="button" class="button box white small navigate next" data-url="#step2" disabled="disabled">
            Continue
        </button>
    </fieldset>
</section>

<section class="paragraph panel">
    <p>DON’T SEE WHAT YOU'RE LOOKING FOR?</p>
    <p>Not all offers are available online. Please contact your club for more details.</p>
</section>


