<header>
    <h2 class="rich-content-title">
    <span>
        <small>Step 3 of 3</small>
        <span>Review</span>
   </span>
    </h2>
</header>

<section class="paragraph panel">
    <h6>Please review your purchase carefully.</h6>
</section>

<section class="membership-total">
    <div class="border-wrapper">
        <div id="order" class="col"></div>
        <div id="billing" class="col"></div>
    </div>
</section>

<div id="repurchase"></div>

<section class="paragraph panel">
    <h6>please make sure this information is correct, in case we need to contact you about your order.</h6>
    <section id="contact"></section>
</section>

<section style="display:none" id="warning" class="paragraph"></section>

<%  if(validatePassword) { %>
<section class="paragraph">
    <div id="password"></div>

    <fieldset class="button-container centered">
        <a class="reset-password" href="/help/forgotpassword" target="_blank">Forgot your password?</a>
    </fieldset>

    <div class="secure-checkout"></div>
</section>
<% } %>

<section class="paragraph">
<fieldset class="button-container centered">
    <button type="button" class="button box white small navigate btn-primary next" disabled="disabled">Purchase Training</button>
</fieldset>
</section>
