<% if (hasCardOnFile || useCardOnFile) { %>
<section class="paragraph panel review-repurchase-info">
    <h3>PACKAGE AMOUNT FOR REPURCHASE</h3>
    <% if (isAutoRenewOn && useCardOnFile) { %>
    <h6>YOU HAVE SELECTED TO AUTOMATICALLY REPURCHASE YOUR PT SESSIONS. PLEASE CONFIRM THE AMOUNT</h6>

    <h3>
        <strong><%- autoRenewPackSize %> Sessions</strong>
        <p><a class="toggle-sessions-dropdown">Edit</a></p>
    </h3>
    <% } else { %>
    <h3>
        <strong>No Repurchase</strong>
        <p><a class="toggle-sessions-dropdown">Edit</a></p>
    </h3>
    <% } %>

    <div class="repurchase-dropdown" style="display: none">
        <form class="large white">
            <label for="select-repurchase">sessions</label>
            <span class="dropdown block white">
                <select id="select-repurchase" class="select-repurchase"></select>
                <span class="option"></span>
            </span>
        </form>
    </div>

    <p class="paragraph panel">
        <a href="/personal-training/renew-policy" target="_blank">VIEW PERSONALTRAINING RENEWAL POLICY</a>
    </p>
</section>
<% } %>
