<div class="overview-page">
    <h1>Styleguide</h1>

    <p>This styleguide contains the majority of elements for the project. It is useful for a bunch of aspects:</p>

    <ul>
        <li>Avoid repetition of code, as developers will have better visibility on what's already done.</li>
        <li>Shows visual identity.</li>
    </ul>

    <p>The site has three main breakpoints: small (320-767px wide,) medium (768-1023px wide,) and large (1024px wide and larger.)</p>

    <p>Ideally, as commented on the main .scss file, stylesheets sould follow the next rules:</p>

    <ol>
        <li>All SASS code must be commented using KSS.</li>
        <li>All files should start with underscore (_) unless their exported .css is explicitly wanted.</li>
        <li>The main file (equinox.scss) should only have import rules.</li>
        <li>All classes should be dash separated (.example-name)</li>
        <li><a href="http://www.vanseodesign.com/css/dry-principles/" target="_blank">DRY</a> methodology.</li>
        <li><a href="http://webuild.envato.com/blog/how-to-scale-and-maintain-legacy-css-with-sass-and-smacss/" target="_blank">SMACSS</a>-like setup.</li>
        <li>Internal media queries (besides main breakpoints) should be in every specific folder.<br />Example: having a mediaquery for mobile into /large/* is wrong.</li>
        <li><a href="http://www.abookapart.com/products/mobile-first" target="_blank">Mobile first</a> approach.</li>
    </ol>

    <p>More information available in <a href="confluence.equinox.com/display/DigitalPlatform/Styleguide+generation" target="_blank">Confluence</a>.</p>
</div>