<header>
    <h2 class="rich-content-title">
    <span>
        <span>Thank you.</span>
   </span>
    </h2>
</header>

<section class="paragraph panel">
    <h6>NEW SESSIONS HAVE BEEN ADDED TO YOUR ACCOUNT.</h6>
    <p>We look forward to seeing you on the floor.</p>
    <p>Order #:  <%= orderNumber %></p>
</section>

<section class="membership-total">
    <div class="border-wrapper">
        <div id="order" class="col"></div>
        <div id="billing" class="col"></div>
    </div>
</section>

<% if (isAutoRenewOn) { %>
    <section class="paragraph panel review-repurchase-info">
        <h3>PACKAGE AMOUNT FOR REPURCHASE</h3>
        <h3><strong><%= autoRenewPackSize %>  Sessions</strong></h3>
        <h6>Your card will automatically be charged when you run out of sessions</h6>
    </section>
<% } %>

<section class="paragraph">
    <h5>the receipt was sent to:</h5>
    <p><%= email %></p>
    <p><a href="#" data-bypass class="js-print-page print-page">Print this page</a></p>
</section>

<section class="paragraph">
    <fieldset class="button-container centered">
        <a href="/personal-training/schedule" class="button box white small">schedule session</a>
    </fieldset>
</section>
